.change-password-form {
  position: relative;
  max-width: 400px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px;
  background-color: var(--white);
  border-radius: 8px;
  align-items: center;
}
