.user-navbar {
  position: absolute;
  top: 32px;
  right: 0px;
  border: 2px solid var(--less-white);
  border-radius: 8px;
  background-color: var(--white);
  color: var(--dark-grey);
  box-shadow: var(--shadow-4);
  z-index: 3;
}

.user-navbar__logout {
  all: unset;
}

.user-navbar__item {
  transition: 0.3s;
  cursor: pointer;
}

.user-navbar__item > * {
  padding: 12px 10px;
  display: block;
  width: 100%;
}

.user-navbar__item > .active {
  background-color: var(--less-white);
}

.user-navbar__item:hover {
  background-color: var(--less-white);
}
