.user-card__control-section {
  display: flex;
  width: 200px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
}

.user-card__control-section__avatar {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.user-card__control-section__id {
  color: var(--light-grey);
  margin-bottom: 50px;
}
