.contact-link {
  margin-bottom: 20px;
  transition: 0.3s;
}

.contact-link:hover {
  color: var(--blue);
}

.contact-link__item {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: pre-wrap;
  list-style: none;
}
