.users-filter {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.users-filter__fieldset {
  display: flex;
  align-items: end;
  gap: 30px;
}

.users-filter__clear-button {
  background-color: var(--blue);
}
.users-filter__clear-button:hover {
  background-color: var(--blue);
}
