.textarea {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  border: 2px solid var(--less-white);
  border-radius: 4px;
  color: var(--dark-grey);
  background: transparent;
  resize: vertical;
}

.textarea:focus {
  outline: none;
  border: 2px solid var(--blue);
}
