.user-logged-bar {
  all: unset;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.user-logged-bar:hover {
  transform: scale(1.1);
}
.user-logged-bar:active {
  transform: scale(1.05);
}

.user-logged-bar__avatar {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}
