.pet-card {
  max-width: 280px;
  color: var(--dark-grey);
  box-shadow: var(--shadow-4);
  border-radius: 8px;
  transition: 0.3s;
}

.pet-card:hover {
  box-shadow: var(--shadow-8);
}

.pet-card__content {
  position: relative;
  margin: 10px 12px;
}

.pet-card__name {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 400;
}
.pet-card__name > * {
  margin-right: 5px;
}

.pet-card__location {
  font-size: 16px;
  font-weight: 400;
  word-spacing: 4px;
  color: var(--grey);
}

.pet-card__divider {
  margin: 15px auto;
  background-color: var(--blue);
  height: 2px;
  border: none;
  border-radius: 5px;
}

.pet-card__desc {
  margin-bottom: 25px;
  text-align: justify;
}

.pet-card__note {
  display: block;
  font-size: 13px;
  font-weight: 400;
}

.pet-card__date {
  margin-left: 20px;
  color: var(--blue);
}

.pet-card__buttons {
  display: flex;
  position: absolute;
  top: -5px;
  right: 0;
}

.grid .pet-card__desc {
  height: 80px;
}

.pet-card.list {
  display: flex;
  gap: 2;
  width: 100%;
  max-width: 900px;
}

.list .pet-card__content {
  width: 80%;
}

.list .pet-card__note {
  text-align: end;
}

.list .pet-card__desc {
  margin-bottom: 10px;
}

.pet-card__edit-link {
  padding: 8px;
  transition: 0.3s;
}
.pet-card__edit-link > * {
  transition: 0.3s;
}

.pet-card__edit-link:hover > * {
  transform: scale(1.2);
}
