.nav {
  display: flex;
  gap: 30px;
  color: var(--white);
}

.nav__link {
  display: block;
  position: relative;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
}
.nav__link::after {
  position: absolute;
  content: '';
  top: 110%;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--less-white);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.nav__link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav__link.active::before {
  position: absolute;
  content: '';
  top: 110%;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--less-white);
}

.nav-divider {
  background: var(--less-white);
  border: 0;
  width: 2px;
}
