.home-card {
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-4);
  border-radius: 20px 0 0 20px;
}

.home-card__photo {
  width: 140px;
  height: 140px;
  margin-right: 50px;
  object-fit: cover;
  border-radius: 20px;
}
.home-card__content:first-child {
  text-align: right;
}
.home-card__text {
  text-align: justify;
  padding: 0 10px;
}
