.change-password-form {
  position: relative;
  max-width: 400px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px;
  background-color: var(--less-white);
  border-radius: 8px;
  box-shadow: var(--shadow-4);
  align-items: center;
}

.change-password-form__message {
  position: absolute;
  left: 10%;
  opacity: 0;
  display: block;
  width: 80%;
  bottom: 92px;
  padding: 10px;
  text-align: center;
  background-color: var(--error);
  color: var(--white);
  transition: 0.3s;
}

.change-password-form__message.visible {
  opacity: 1;
}

.valid__message {
  background-color: var(--valid);
}
.not-valid__message {
  background-color: var(--red);
}
