.pet-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.pet-gallery__main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.pet-gallery__main-photo {
  height: 30vw;
  width: 65vw;
  max-width: 1000px;
  object-fit: cover;
}

.pet-gallery__button.right {
  transform: rotate(180deg);
}

@media (max-width: 800px) {
  .pet-gallery__main-photo {
    width: 80vw;
    height: 60vw;
  }
}
