.user-card {
  max-width: 900px;
  padding: 40px 30px;
  width: 80%;
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 8px;
  box-shadow: var(--shadow-4);
}

.user-card__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
