.home__welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.home__welcome-section__logo {
  margin-bottom: 50px;
  width: 340px;
  height: 150px;
}

.home__welcome-section__note {
  margin-top: 20px;
  width: 40%;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}
