.users-table__section {
  width: 90%;
  max-width: 1000px;
}

.users-table {
  margin-top: 20px;
  width: 100%;
  color: var(--dark-grey);
  border-spacing: 0;
}

.users-table__header-item {
  text-align: left;
  border-bottom: 2px solid var(--blue);
  font-size: 20px;
  font-weight: 400;
  padding: 5px 10px;
}

.users__table_no-users {
  color: var(--grey);
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
