.pet-card__link {
  position: relative;
  transition: 0.3s;
  overflow: hidden;
}

.pet-card-photo {
  width: 280px;
  height: 180px;
  object-fit: cover;
  transition: 0.3s;
}

.pet-card__hover-text {
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgb(43, 43, 43, 0.6);
  color: var(--white);
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  letter-spacing: 2px;
  transition: 0.3s;
}
.pet-card__link:hover .pet-card__hover-text {
  opacity: 1;
}
