.auth-buttons {
  color: var(--dark-grey);
  font-family: 'Roboto', sans-serif;
}

.auth-buttons__text {
  margin-bottom: 20px;
  font-weight: 400;
  width: 100%;
  text-align: center;
}

.auth-buttons__buttons {
  display: flex;
  gap: 50px;
}
