{{>header}}
    <main style="text-align: center">
        <div style="width: 60%; text-align: center; background-color: #4b4b4b;margin: 30px auto">
            <h2>Forgot your password?</h2>
        </div>
    </main>
{{>footer}}