{{>header}}
    <main>
        <div style="
        width: 60%; 
        margin: 30px auto">
            <h2 style="
            padding: 10px;
            margin: 30px auto;
            text-align:center;
            font-size: 20px;
            color:#2b2b2b">
                Forgot your password?
            </h2>
            <p style="
            color:#2b2b2b;
            font-size: 18px;">
                Dear {{userName}},
            </p>
            <p style="
            color:#2b2b2b;
            font-size: 18px;">
                We are pleased to inform you that your password has been successfully reset. You can now access your account using your new password.
            </p>
            <p style="
            color:#2b2b2b;
            font-size: 18px;">
                If you have any further questions or require any assistance, please feel free to reach out to our support team. We're here to help!
            </p>
            <p style="
            color:#2b2b2b;
            font-size: 18px;">
                If you encounter any issues or need further assistance, please don't hesitate to contact our support team at <a href="mailto:helpmedude@example.com">helpmedude@example.com</a>.
            </p>
        </div>
    </main>
{{>footer}}