.register-form__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 60%;
  max-width: 450px;
  padding: 30px 20px;
  border-radius: 8px;
  box-shadow: var(--shadow-12);
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.register-form__login {
  text-align: center;
}

.register-form__link {
  color: var(--blue);
}

.register-form__link:hover {
  text-decoration: underline;
}

.login-form__message {
  opacity: 0;
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: var(--error);
  color: var(--white);
  transition: 0.3s;
}

.login-form__message.visible {
  opacity: 1;
}

.login-form__message.success {
  background-color: var(--valid);
}
