.footer {
  width: 100%;
  padding: 20px 60px;
  background-color: var(--dark-grey);
  color: var(--white);
  font-family: 'Roboto', sans-serif;
}

.footer__divider {
  background-color: var(--blue);
  height: 3px;
  width: 80%;
  border: none;
  border-radius: 5px;
}

.footer__contact-section_items {
}
