.opinion {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: var(--shadow-4);
}

.opinion__header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  color: var(--blue);
}

.opinion__user {
  width: 160px;
  margin-left: 8px;
}

.opinion__date {
  color: var(--light-grey);
}
