.radio-button {
  display: inline-flex;
  justify-content: center;
  gap: 5px;
  padding: 5px 8px;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
}

.radio-button__button-type {
  display: inline-block;
  padding: 8px 16px;
  letter-spacing: 1px;
  text-transform: capitalize;
  background-color: var(--blue);
  border: 2px solid var(--white);
  border-radius: 8px;
  color: var(--white);
  transition: 0.3s;
  user-select: none;
  cursor: pointer;
}

.radio-button__button-type:hover {
  opacity: 0.5;
}

.radio-button__button-type.checked {
  color: var(--blue);
  background-color: var(--white);
  box-shadow: var(--shadow-8);
}

.radio-button__button-type .radio-button__input {
  display: none;
}
