.confirm-modal {
  padding: 20px 30px;
  text-align: center;
  background-color: var(--less-white);
  box-shadow: var(--shadow-4);
  border-radius: 8px;
}

.confirm-modal__question {
  margin: 20px 0 10px;
  font-size: 20px;
  letter-spacing: 2px;
}

.confirm-modal__input {
  margin: auto;
  max-width: 300px;
  text-align: left;
}

.confirm-modal__buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
