.confirm-modal {
  position: relative;
  max-width: 600px;
  width: 90%;
  padding: 20px 40px;
  text-align: center;
  background-color: var(--less-white);
  box-shadow: var(--shadow-4);
  border-radius: 8px;
}

.confirm-modal__question {
  margin: 20px 0 10px;
  font-size: 20px;
  letter-spacing: 2px;
}

.confirm-modal__input {
  margin: auto;
  max-width: 200px;
}

.confirm-modal__buttons {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.confirm-modal__message {
  position: absolute;
  left: 15%;
  opacity: 0;
  display: block;
  width: 70%;
  bottom: 65px;
  padding: 10px;
  text-align: center;
  background-color: var(--error);
  color: var(--white);
  transition: 0.3s;
}

.confirm-modal__message.visible {
  opacity: 1;
}

.valid__message {
  background-color: var(--valid);
}
.not-valid__message {
  background-color: var(--red);
}
