.dropdown__label {
  display: flex;
  flex-direction: column;
  gap: 3px;
  position: relative;
  color: var(--dark-grey);
}
.dropdown__label:after {
  position: absolute;
  right: 5px;
  bottom: 15px;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7.5px 0 7.5px;
  border-color: var(--light-grey) transparent transparent transparent;
  z-index: -3;
}
.dropdown {
  all: unset;
  padding: 8px 30px 10px 8px;
  border: 2px solid transparent;
  border-bottom: 2px solid var(--blue);
  transition: 0.2s;
  cursor: pointer;
}
