.nav__avatar {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  transition: 0.3s;
  border-radius: 50%;
}

.nav__avatar:hover {
  border: 2px solid var(--white);
}

.nav__avatar__button {
  all: unset;
  cursor: pointer;
}

.nav__avatar__avatar {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}
