.pet-details {
  width: 65vw;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
}

.pet-details__date {
  font-weight: 400;
  width: auto;
}

.pet-details__date__data {
  color: var(--blue);
}

.pet-details__divider {
  width: 60%;
  margin: auto;
  border: 1px solid var(--light-blue);
}

.pet-details__data {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.pet-details__name {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 10px;
  color: var(--blue);
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  letter-spacing: 2px;
}

.pet-details__address {
  margin-left: 65px;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.pet-details__list-item__data {
  color: var(--blue);
}

.pet-details__buttons {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 800px) {
  .pet-details {
    width: 80vw;
  }

  .pet-details__date {
    width: 100%;
    text-align: center;
  }
}
