.opinions-list__item {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: var(--shadow-4);
}

.opinions-list__item-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  color: var(--blue);
}

.opinions-list__item-user {
  width: 160px;
}

.opinions-list__item-date {
  color: var(--light-grey);
}
