@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Italic.ttf");
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-Italic.ttf");
    font-style: italic;
    font-weight: 400;
}