@import './fonts/index.css';

:root {
  --blue: #7286d3;
  --light-blue: #96a4da;
  --white: #fff2f2;
  --less-white: #e5e0ff;
  --light-grey: #868686;
  --grey: #4b4b4b;
  --dark-grey: #2b2b2b;
  --red: #9f3e3e;
  --error: #d14e4e;
  --valid: #167230;
  --shadow-4: 1px 2px 4px 0px rgba(66, 68, 90, 0.14);
  --shadow-8: 1px 8px 10px 1px rgba(66, 68, 90, 0.14);
  --shadow-12: 2px 12px 17px 2px rgb(66, 68, 90, 0.14);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: var(--white);
}
body > div {
  display: flex;
  flex-direction: column;
  min-height: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
