@import './fonts/index.css';

:root {
    --blue: "#7286D3";
    --white: "#FFF2F2";
    --less-white: "#E5E0FF";
    --light-grey: "#868686";
    --grey: "#4B4B4B";
    --dark-grey: "#2B2B2B";
    --red: "#9F3E3E";
    --error: "#D14E4E";
    --valid: "#167230";
    --shadow-4: "0px 2px 4px 0px rgba(66, 68, 90, 0.14)"; 
    --shadow-8 :"0px 8px 10px 1px rgba(66, 68, 90, 0.14)";
    --shadow-12: "0px 12px 17px 2px rgb(66, 68, 90, 0.14)"
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}
