.icon-button {
  all: unset;
  display: flex;
  padding: 6px;
  border-radius: 8px;
  transition: 0.2s;
  cursor: pointer;
}

.icon-button:disabled {
  cursor: not-allowed;
}

.icon-button:hover {
  transform: scale(1.1);
}

.icon-button:active {
  transform: scale(1.05);
}

.icon-button.primary {
  background-color: var(--blue);
}

.icon-button.primary:disabled {
  background-color: var(--light-grey);
}
