.adoption-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 40px;
  max-width: 700px;
  width: 90%;
  box-shadow: var(--shadow-8);
}

.adoption-form__fieldset {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.adoption-form__fieldset > * {
  flex-basis: 45%;
}
