.gallery-controller {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: var(--blue);
  border-radius: 8px;
  padding: 12px 20px;
}
.gallery-controller__header {
  border-right: 2px solid var(--white);
  padding: 5px 20px 5px 0;
  color: var(--white);
  font-weight: 400;
}
